
.parallax {
    /* The image used */
    background-image: url('https://static.pexels.com/photos/335253/pexels-photo-335253.jpeg');
    
    /* Full height */
    height: 100%; 
    min-height: 130px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: alpha(opacity=60);
}
@media only screen and (min-width: 601px){
  
    
}
@media only screen and (min-width: 769px){
   
}

.staticHeader{
    background: #070000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 1000px;    
    margin-top: -30px;
}
.staticHeader .text{
    color:white;
    padding: 20%;
    padding-top: 60%;
    font-size: 30px;
    text-align: center;
}
